:root {
	--color1: rgb(7, 24, 48);
	--color2: rgb(22, 56, 131);
	--color3: rgb(40, 79, 209);
	--colortext: #fff;
}

body {
	background: linear-gradient(90deg, var(--color1) 0%, var(--color2) 35%, var(--color3) 100%);
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.loadImage img {
	width: 270px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	animation: fadeInAnimation ease 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.loadBar {
	width: 440px;
	background-color: var(--color3);
	height: 10px;
	border-radius: 50px;
	overflow: hidden;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 30%;
	display: block;

	animation: fadeInAnimation ease 10s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.loadProgressBar {
	width: 0%;
	background-color: var(--color2);
	height: 20px;
	position: absolute;
	left: 10%;
}

.loadText {
	width: 100%;
	font-family: "Jura", sans-serif;
	height: auto;
	position: absolute;
	bottom: 26%;
	left: 0px;
	text-align: center;
	color: var(--colortext);
	font-size: 13px;
	text-transform: uppercase;

	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
